* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  min-height: 80vh;
  max-height: 80vh;
  width: 80vw;
  min-width: 460px;
  max-width: 500px;
  position: relative;
  border: 1px solid blue;
}

.header {
  position: absolute;
  height: 20%;
  width: 100%;
  background: rgb(196, 210, 228);
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
  margin: 1em;
  color: rgb(37, 129, 235);
}

#add {
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 0.05em 0.25em;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(37, 129, 235);
}

#add:hover {
  color: rgb(37, 129, 235);
  background: #fff;
}

.btngroup {
  display: flex;
  flex-direction: column;
}

.btngroup > * {
  font-size: 1.1em;
  padding: 0.1em;
  border: 1px solid blue;
  cursor: pointer;
}

#done,
#not {
  color: #fff;
  background: rgb(37, 129, 235);
}

#not.activeChoice,
#done.activeChoice {
  color: rgb(37, 129, 235);
  background: #fff;
}

#done:hover,
#not:hover {
  border: 2.5px solid green;
}

.content {
  position: absolute;
  margin-top: 20%;
  height: 80%;
  width: 100%;
  overflow: scroll;
  /* background: chocolate; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  font-size: 1.5em;
  min-height: 2em;
  width: 90%;
  max-width: 50ch;
  /* background: brown; */
  margin-top: 0.5em;
  border: 1px solid blue;
  cursor: pointer;
}

.card:hover {
  border: 3px solid blue;
}

.checkbox {
  margin: 1.5em 1.5em;
  transform: scale(2.5);
}

.card-title {
  color: rgb(3, 73, 153);
}

/*/////////////////////////////////////////

This is for the addForm part

//////////////////////////////////////////*/

.addForm {
  display: none;
  min-height: 80vh;
  max-height: 80vh;
  width: 80vw;
  min-width: 460px;
  max-width: 500px;
  position: relative;
  border: 1px solid blue;
  background: #ccc;
  align-items: center;
  justify-content: center;
}

.form-content {
  position: absolute;
  height: 80%;
  width: 80%;
  background: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.form-input {
  /* background: chartreuse; */
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addform-title {
  width: 90%;
  font-size: 1.5em;
  margin: 1em 0;
  padding: 0.2em;
}

#addform-body {
  width: 90%;
  height: 70%;
  font-size: 1.2em;
  padding: 0.4em;
}

.form-buttons {
  /* background: chocolate; */
  height: 10%;
  display: flex;
  justify-content: flex-end;
}

#addform-save {
  margin: 0.6em;
  width: 8ch;
  background: rgb(27, 100, 236);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#addform-cancel {
  margin: 0.6em;
  width: 10ch;
  background: #666;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/*/////////////////////////////////////////

This is for the modal part

//////////////////////////////////////////*/

.modal {
  display: none;
  min-height: 80vh;
  max-height: 80vh;
  width: 80vw;
  min-width: 460px;
  max-width: 500px;
  position: relative;
  border: 1px solid blue;
  background: #ccc;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: absolute;
  height: 80%;
  width: 80%;
  background: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.modal-input {
  /* background: chartreuse; */
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-title {
  width: 90%;
  font-size: 1.5em;
  margin: 1em 0;
  padding: 0.2em;
}

#modal-body {
  width: 90%;
  height: 70%;
  font-size: 1.2em;
  padding: 0.4em;
}

.modal-buttons {
  /* background: chocolate; */
  height: 10%;
  display: flex;
  justify-content: flex-end;
}

#modal-save {
  margin: 0.6em;
  width: 8ch;
  background: rgb(27, 236, 90);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#modal-back {
  margin: 0.6em;
  width: 10ch;
  background: #666;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#modal-edit {
  margin: 0.6em;
  width: 10ch;
  background: rgb(27, 100, 236);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#modal-delete {
  margin: 0.6em;
  width: 10ch;
  background: rgb(245, 58, 58);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
